@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header_top_icon_wrapper {
    @apply flex items-center justify-between p-1 hover:bg-red-300 hover:text-white rounded-md
    cursor-pointer;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  opacity: 1;
  transform: translateY(-50%);
}
.style-module_emptyIcons__Bg-FZ {
  display: flex !important;
}
.custom-rating svg {
  stroke: orange;
  background-color: transparent;
  stroke-width: 1; 
  display: inline-block;
}
.custom-rating svg.active {
  fill: orange;
  stroke: orange;
}

.custom-rating svg:hover {
  fill: orange;
}
.border-none {
  --tw-ring-color: transparent !important;
}
